<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Admin Dashboard</title>

    <link rel="stylesheet" th:href="@{/assets/css/adminDashboard.css}">
    <link rel="stylesheet" th:href="@{/assets/css/style.css}">

    <script th:src="@{/js/render.js}" defer></script>
    <script th:src="@{/js/util.js}" defer></script>
    <script th:src="@{/js/components/header.js}" defer></script>
    <script th:src="@{/js/components/footer.js}" defer></script>
</head>

<body>
<div class="container">
    <div class="wrapper">

        <div id="header"></div>

        <main class="main-content">

            <input type="text" id="searchBar" placeholder="Search by doctor name"/>

            <select id="filterTime">
                <option value="">Filter by time</option>
                <option value="AM">Morning</option>
                <option value="PM">Evening</option>
            </select>

            <select id="filterSpecialty">
                <option value="">Filter by specialty</option>
            </select>

            <div id="content"></div>
        </main>

        <div id="footer"></div>
    </div>
</div>

<!-- Modal -->
<div id="modal" class="modal">
    <span id="closeModal" class="close">&times;</span>
    <div id="modal-body"></div>
</div>

<script type="module" src="../js/services/adminDashboard.js" defer></script>
<script type="module" src="../js/components/doctorCard.js" defer></script>
</body>
</html>
